body { background: #7452ab; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 27px; display: flex; }
.block-config-0 { color: #75da2a; font-size: 16px; margin-bottom: 5px; }
.block-invoice-1 { color: #2c6b6d; font-size: 16px; margin-bottom: 5px; }
.block-session-2 { color: #5506bc; font-size: 15px; margin-bottom: 5px; }
.block-invoice-3 { color: #930ac2; font-size: 18px; margin-bottom: 5px; }
.block-token-4 { color: #d8f9db; font-size: 20px; margin-bottom: 5px; }
.block-cluster-5 { color: #41c5e5; font-size: 21px; margin-bottom: 5px; }
.block-search-6 { color: #89e2b2; font-size: 12px; margin-bottom: 5px; }
.block-router-7 { color: #73a169; font-size: 19px; margin-bottom: 5px; }
.block-session-8 { color: #61955b; font-size: 12px; margin-bottom: 5px; }
.block-shipping-9 { color: #d8a8e3; font-size: 19px; margin-bottom: 5px; }
.block-filter-10 { color: #564f16; font-size: 17px; margin-bottom: 5px; }